{% extends 'home/home.html.twig' %}

{% block body %}
<!-- BREADCRUMB -->
<section>
    <nav class="bg-gray-200">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <!-- Breadcrumb -->
            <ol class="breadcrumb breadcrumb-scroll">
              <li class="breadcrumb-item">
                <a href= "{{ path('home')}}" class="text-gray-700">
                  Accueil
                </a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
              <a href="{{ path('portfolio') }}" class="text-gray-700">
                Réalisations par catégorie</a>
              </li>
            </ol>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </nav>
</section>
	
	<section data-jarallax data-speed="0.8" class="pt-7 pt-md-10 pb-12 pb-md-15">
			<div class="row justify-content-center">
				<div class="col-12 col-md-10 col-lg-7 text-center">
					<h1 class="display-2 fw-bold">
						{{ categorie.nom }}
					</h1>
					<p class="lead text-75 mb-4">
						{{ categorie.description }}
					</p>
				</div>
			</div>
		</div>
	</section>


	{#  SHAPE  #}
	<div class="position-relative">
		<div class="shape shape-bottom shape-fluid-x svg-shim text-light">
			<svg viewbox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0 48h2880"></div>

				{#  CONTENT  #}
				<section class="py-8 py-md-11 mt-n10 mt-md-n14">
					<div class="container">
							
						<div class="row" id="portfolio" data-isotope='{"layoutMode": "masonry"}'>
							{% for realisation in categorie.realisations  %}
								<div class="col-12 col-md-4">
									<div class="col-12 col-md-auto">
								<!-- Button -->
								<a href="{{ path('real_details', {'slug': realisation.slug}) }}" class="btn btn-sm btn-warning btn-outline-warning-300 d-none d-md-inline">
									Voir tout 
								</a>
								</div>
									<a class="card shadow-light-lg mb-7" 
									href="#!"
									data-bigpicture='{"imgSrc": "{{ vich_uploader_asset(realisation, 'imageFile')| imagine_filter('full') }}"}'>
										<div class="card-zoom">
											<img class="card-img" src="{{ vich_uploader_asset(realisation, 'imageFile')| imagine_filter('miniature') }}" alt="alex">
										</div>
									</a>
								</div>
							{% endfor %}
						</div>
					</div>
				</section>
			</div>
{% endblock %}
