{% extends 'home/home.html.twig' %}

{% block body %}
<!-- BREADCRUMB -->
<nav class="bg-gray-200">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <!-- Breadcrumb -->
            <ol class="breadcrumb breadcrumb-scroll">
              <li class="breadcrumb-item">
                <a href= "{{ path('home')}}" class="text-gray-700">
                  Accueil
                </a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
              <a href= "{{ path('portfolio')}}" class="text-gray-700">
                Portfolio</a>
              </li>
            </ol>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </nav>


	<!-- CONTENT -->
	<section class="py-8 py-md-8 mt-3 mt-md-3 pb-5">
	<h1 class="row justify-content-center mt-5">PORTFOLIO</h1>
			<h2 class="row justify-content-center mt-5">Mes réalisations par catégorie</h2><br><br>
		<div class="container">
			<div class="row" id="portfolio" data-isotope='{"layoutMode": "masonry"}'>

				{% for categorie in categories %}
					{% set realisations = categorie.realisations | last %}
					{% for realisation in categorie.realisations  %}
						{# /////////////////////////////////////// 1 ///////////////////////////////////////////////// #}
						<div
							class="col-12 col-md-4 resources">
							<!-- Card -->
							<a
								class="card shadow-light-lg mb-7" href="{{ path('portfolio_slug', {'slug': categorie.slug} )}}">
								<!-- Image -->
								<div class="card-zoom">
									<img class="card-img" src="{{ vich_uploader_asset(realisation, 'imageFile') }}" alt="test">
								</div>
								<!-- Overlay -->
								<div class="card-img-overlay card-img-overlay-hover">
									<div
										class="card-body bg-white">
										<!-- Shape -->
										<div class="shape shape-bottom-100 shape-fluid-x text-white">
											<svg viewbox="0 0 2880 48" fill="none" xmlns="#"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/>
											</svg>
										</div>
										<!-- Preheading -->
										<div><h6 class="text-uppercase mb-1 text-muted">{{ categorie.nom }}</div></h6>
										<div>
										<!-- Heading -->
										<h4 class="mb-0">{{ categorie.description }}</h4>
										</div>
									</div>
								</div>
							</a>
						</div>
					{% endfor %}
				{% endfor %}
			</div>
		</div>
	</section>


	<!-- SHAPE -->
	<div class="position-relative">
		<div class="shape shape-bottom shape-fluid-x text-gray-200">
			<svg viewbox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
		</div>
	</div>


	<!-- CTA -->
	<section class="pt-6 pt-md-8 pb-4 bg-gray-200">
		<div class="container pb-4 pb-md-8 border-bottom border-gray-300">
			<div class="row align-items-center">
				<div
					class="col-12 col-md">

					<!-- Heading -->
					<h3 class="mb-1 fw-bold">
						Recevez de nos nouvelles
					</h3>

					<!-- Text -->
					<p class="fs-lg text-muted mb-6 mb-md-0">
						Dans votre boîte.
					</p>

				</div>
				<div
					class="col-12 col-md-5">

					<!-- Form -->
						<div class="row">
							<div
								class="col">
								<!-- Input -->
								<input type="email" class="form-control" placeholder="Votre email">
							</div>
							<div
								class="col-auto ms-n5">

								<!-- Button -->
								<a href="mailto:contact@aguadopeinture.fr">
								<button class="btn btn-warning">
									Souscrire
								</button>
								</a>
							</div>
						</div>
						<!-- / .row -->
					</form>

				</div>
			</div>
			<!-- / .row -->
		</div>
		<!-- / .container -->
	</section>
{% endblock %}
