{% extends 'base.html.twig' %}

{% block title %}Attachment index{% endblock %}

{% block body %}
    <h1>Attachment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for attachment in attachments %}
            <tr>
                <td>{{ attachment.id }}</td>
                <td>{{ attachment.imageFile }}</td>
                <td>{{ attachment.createdAt ? attachment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ attachment.UpdatedAt ? attachment.UpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                <a href="{{ path('app_attachment_crud_show', {'id': attachment.id}) }}">show</a>
                <a href="{{ path('app_attachment_crud_new', {'id': attachment.id}) }}">add</a>
                <a href="{{ path('app_attachment_crud_edit', {'id': attachment.id}) }}">edit</a>
                <a href="{{ path('app_attachment_crud_delete', {'id': attachment.id}) }}">remove</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_attachment_crud_new') }}">Create new</a>
{% endblock %}
