{% extends 'base.html.twig' %}

{% block title %}Attachment{% endblock %}

{% block body %}
    <h1>Attachment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ attachment.id }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ attachment.imageFile }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ attachment.createdAt ? attachment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ attachment.UpdatedAt ? attachment.UpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_attachment_crud_index') }}">back to list</a>

    <a href="{{ path('app_attachment_crud_edit', {'id': attachment.id}) }}">edit</a>

    {{ include('attachment_crud/_delete_form.html.twig') }}
{% endblock %}
