{% extends 'base.html.twig' %}

{% block body %}
<!-- BREADCRUMB -->
<section>
    <nav class="bg-gray-200">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <!-- Breadcrumb -->
            <ol class="breadcrumb breadcrumb-scroll">
              <li class="breadcrumb-item">
                <a href= "{{ path('home')}}" class="text-gray-700">
                  Accueil
                </a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
              <a href= "{{ path('realisations')}}" class="text-gray-700">
                Réalisations</a>
              </li>
            </ol>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </nav>
</section>
<section class="pt-7 pt-md-10 pb-7 pb-md-10">
    <div class="container">
                <div
					class="col-12 col-md-auto">
					<!-- Button -->
					<a href="{{ path('realisations') }}" class="btn btn-sm btn-warning btn-outline-warning-300 d-none d-md-inline">
						Retour
					</a>
				</div>

        <div class="modal-fullscreen-xxl-down">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    {% for attachment in realisation.attachments %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <img src="{{ vich_uploader_asset(attachment, 'imageFile') | imagine_filter('full') }}" class="d-block w-100" alt="{{ attachment.getImage() }}">
                        </div>
                    {% endfor %}
                </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
