{% extends 'base.html.twig' %}

{% block body %}

<div class="row">

<!-- BREADCRUMB -->
    <nav class="bg-gray-200">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <!-- Breadcrumb -->
            <ol class="breadcrumb breadcrumb-scroll">
              <li class="breadcrumb-item">
                <a href= "{{ path('home')}}" class="text-gray-700">
                  Accueil
                </a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Réalisations
              </li>
            </ol>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </nav>


    <!-- ARTICLES -->
<section>
  <div class="container">
      <div class="row">	
        <h1 class="d-flex justify-content-center">REALISATIONS</h1>
        
        {% for realisation in realisations %}
        
          <div class="col-12 col-md-6 col-lg-4 d-flex">
            <!-- Card -->
            <div class="card mb-6 shadow-light-lg lift lift-lg">
              <!-- Image -->
              <a class="card-img-top" 
                    href="{{ path('realisations_details', {'slug': realisation.slug}) }}">
                <!-- Image -->
                <img src="{{ vich_uploader_asset(realisation, 'imageFile') }}" alt="alex" 
                class="card-img-top">
                <!-- Shape -->
                  <div class="position-relative">
                    <div class="shape shape-bottom shape-fluid-x text-white">
                    {# {{> curves/curve-3}} #}
                    </div>
                  </div>
              </a>

              <!-- Body -->
              <a class="card-body" 
                    href="{{ path('realisations_details', {'slug': realisation.slug}) }}">
                <!-- Heading -->
                <h3>
                  {{realisation.nom}}
                </h3>
                <!-- Text -->
                <p class="mb-0 text-muted">
                  {{realisation.description}}
                </p>
              </a>

              <!-- Meta -->
              <a class="card-meta mt-auto" 
                href="{{ path('realisations_details', {'slug': realisation.slug}) }}">
                <!-- Divider -->
                <hr class="card-meta-divider">
                <!-- Avatar -->
                <div class="avatar avatar-sm me-2">
                  <img src="/img/avatars/avatar-1.jpg" alt="avt" class="avatar-img rounded-circle">
                </div>
                <!-- Author -->
                <h6 class="text-uppercase text-muted me-2 mb-0">
                  J. Aguado
                </h6>
                <!-- Date -->
                <p class="h6 text-uppercase text-muted mb-0 ms-auto">
                  <time datetime="2019-05-02">{{realisation.createdAt|date('d/m/y')}}</time>
                </p>
              </a>
            </div>
          </div>  
       {% endfor %}
      </div>
  </div>

  
          <div class="d-flex justify-content-center">
              {% do realisations.setPageRange(3)%}
              {{ knp_pagination_render(realisations, 'include/_paginator.html.twig') }}
          </div>

</section>
{% endblock %}
