{% extends "home/home.html.twig" %}

{% block body %}
<!-- BREADCRUMB -->
<section>
    <nav class="bg-gray-200">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <!-- Breadcrumb -->
            <ol class="breadcrumb breadcrumb-scroll">
              <li class="breadcrumb-item">
                <a href= "{{ path('home')}}" class="text-gray-700">
                  Accueil
                </a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
              <a href= "{{ path('realisations')}}" class="text-gray-700">
                Réalisations</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
              <a href="{{ path('real_details', {'slug': realisation.slug}) }}" class="text-gray-700">
                détails-réalisation</a>
              </li>
            </ol>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </nav>
</section>

	<!-- IMAGE -->
	{# {% for slug,realisation in realisation %} #}
	
		<div>
			<a href="{{ path('realisations')}}">
				<div data-jarallax data-speed=".8" class="bg-cover jarallax" style="background-image: url(" {{ vich_uploader_asset(realisation, 'imageFile') | imagine_filter('welcome') }} " );">
				</div>
			</a>
		</div>
	

		<!-- HEADER -->
<section class="pt-7 pt-md-10 pb-7 pb-md-10">
			<div class="container">
				<div class="row justify-content-center">
					<div
						class="col-12 col-md-10 col-lg-9 col-xl-8">
						<!-- Heading -->
						<h1 class="display-4 text-center">
							<a href="{{ path('realisations') }}">
								{{ realisation.nom }}
							</a>
						</h1>

						{# <h2 class="display-5 text-center">{{ realisation.slug}}</h2> #}
						<!-- Text -->
						<p class="lead mb-7 text-center text-muted">
							{{ realisation.description }}
						</p>
						<!-- Meta -->
						<div class="row align-items-center py-5 border-top border-bottom">
							<div
								class="col-auto">
								<!-- Avatar -->
								<div class="avatar avatar-lg">
									<img src="/img2/Jose-detoure.png" alt="jo" class="avatar-img rounded-circle">
								</div>
							</div>
							<div
								class="col ms-n5">
								<!-- Name -->
								<h6 class="text-uppercase mb-0">
									J.Aguado
								</h6>
								<!-- Date -->
								<time class="fs-sm text-muted" datetime="2019-05-20">
									Publié le :
									{{ realisation.createdAt|date('d/m/y') }}
								</time>
							</div>
							<div
								class="col-auto">
								<!-- Share -->
								<span class="h6 text-uppercase text-muted d-none d-md-inline me-4">
									Partagez !
								</span>
								<!-- Icons -->
								<ul class="d-inline list-unstyled list-inline list-social">
									<li class="list-inline-item list-social-item me-3">
										<a href="https://instagram.com" class="text-decoration-none">
											<img src="/img/icons/social/instagram.svg" class="list-social-icon" alt="...">
										</a>
									</li>
									<li class="list-inline-item list-social-item me-3">
										<a href="https://facebook.com" class="text-decoration-none">
											<img src="/img/icons/social/facebook.svg" class="list-social-icon" alt="...">
										</a>
									</li>
									<li class="list-inline-item list-social-item me-3">
										<a href="https://twitter.com" class="text-decoration-none">
											<img src="/img/icons/social/twitter.svg" class="list-social-icon" alt="...">
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- / .row -->
			</div>
			<!-- / .container -->
		</section>
		
		<!-- SECTION -->
		<section class="pt-6 pt-md-8">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-12 col-md-10 col-lg-9 col-xl-8">

					<figure class="figure mb-7">
						<a href="{{ path('realisation_slider',  {'id': realisation.id}) }}">
							<img class="figure-img img-fluid rounded lift lift-lg" src="{{ vich_uploader_asset(realisation, 'imageFile') }}" alt="alex">
						</a>
					</figure>
						<p>
							{{ realisation.description }}
						</p>
						<!-- Caption -->
						<figcaption class="figure-caption text-center">
							2023 - Tous droits réservés
						</figcaption>
					</div>
				</div>
			<!-- / .row -->
		</div>
	{# {% endfor %} #}
		<!-- / .container -->
	</section>

	{% include "commentaires/form.html.twig" %}

	{% include "commentaires/commentaires.html.twig" %}

{% endblock %}
