{% block realisations3 %}
<!-- TESTIMONIALS -->
    <section class="pt-10 pt-md-12">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">

            <!-- Heading -->
            <h2>
            Dernières réalisations
            </h2>

            <!-- Text -->
            <p class="fs-lg text-muted mb-7 mb-md-9">
              Au coeur de notre travail, écoute, qualité et précision pour mieux vous satisfaire.
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12">

            <!-- Card -->
        
            <div class="card card-row shadow-light-lg mb-6">
              <div class="row gx-0">
                <div class="col-12 col-md-6">
                  <!-- Slider -->
                  <div class="card-img-slider" data-flickity='{"fade": true, "imagesLoaded": true, "pageDots": false, "prevNextButtons": false, "asNavFor": "#blogSlider", "draggable": false}'>
                    <a class="card-img-start position-absolute d-block w-100 bg-cover" style="background-image: url(/img2/jose/IMG-20221008-WA0003.jpg)" <a href="{{ path('realisations') }}">                      <!-- Image (placeholder) -->
                      <img src="/img2/jose/IMG-20221008-WA0003.jpg" alt="karine" class="img-fluid d-md-none invisible">
                    </a>

                    <a class="card-img-start position-absolute d-block w-100 bg-cover" style="background-image: url(/img2/jose/IMG-20221008-WA0002.jpg);" <a href="{{ path('realisations') }}">
                      <!-- Image (placeholder) -->
                      <img src="/img2/jose/IMG-20221008-WA0002.jpg" alt="karine" class="img-fluid d-md-none invisible">
                    </a>

                    <a class="card-img-start position-absolute d-block w-100 bg-cover" style="background-image: url(/img2/jose/IMG-20221008-WA0004.jpg);"  <a href="{{ path('realisations') }}">
                                          <!-- Image (placeholder) -->
                      <img src="/img2/jose/IMG-20221008-WA0004.jpg" alt="karine" class="img-fluid d-md-none invisible">
                    </a>

                    <a class="card-img-start position-absolute d-block w-100 bg-cover" style="background-image: url(/img2/jose/IMG-20221008-WA0005.jpg);"  <a href="{{ path('realisations') }}">
                                        <!-- Image (placeholder) -->
                      <img src="/img2/jose/IMG-20221008-WA0005.jpg" alt="karine" class="img-fluid d-md-none invisible">
                    </a>

                    <a class="card-img-start position-absolute d-block w-100 bg-cover" style="background-image: url(/img2/jose/IMG-20221008-WA0006.jpg);"  <a href="{{ path('realisations') }}">
                      <!-- Image (placeholder) -->
                      <img src="/img2/jose/IMG-20221008-WA0006.jpg" alt="karine" class="img-fluid d-md-none invisible">
                    </a>

                    <a class="card-img-start position-absolute d-block w-100 bg-cover" style="background-image: url(/img2/jose/IMG-20221008-WA0007.jpg);"  <a href="{{ path('realisations') }}">
                                          <!-- Image (placeholder) -->
                      <img src="/img2/jose/IMG-20221008-WA0007.jpg" alt="karine" class="img-fluid d-md-none invisible">
                    </a>
                  </div>

                  <!-- Shape -->
                  <div class="shape shape-end shape-fluid-y text-white d-none d-md-block">
                  </div>
                </div>

                <div class="col-12 col-md-6 position-md-static">

                  <!-- Slider -->
                  <div class="position-md-static" data-flickity='{"wrapAround": true, "pageDots": false, "adaptiveHeight": true}' id="blogSlider">
                    <div class="w-100">
                      <!-- Body -->
                      <div class="card-body">
                        <blockquote class="blockquote text-center mb-0">
                          <!-- Brand -->
                          <div class="row justify-content-center mb-5 mb-md-7">
                            <div class="col-6 col-sm-4 col-md-7 col-lg-5">
                              <!-- Logo -->
                              <div class="img-fluid" style="color: #FF5A5F;">
                              </div>
                            </div>
                          </div> <!-- / .row -->
                          <!-- Text -->
                          <p class="mb-5 mb-md-7 text-muted">
                            AguadoPeinture is hands down the most clean company I've ever called. I can't wait to call him again for my next project.”
                          </p>
                          <!-- Footer -->
                          <footer class="blockquote-footer">
                            <span class="h6 text-uppercase">Karine P.</span>
                          </footer>
                        </blockquote>
                      </div>
                    </div>

                    <div class="w-100">
                      <!-- Body -->
                      <div class="card-body">
                        <blockquote class="blockquote text-center mb-0">
                          <!-- Brand -->
                          <div class="row justify-content-center mb-5 mb-md-7">
                            <div class="col-6 col-sm-4 col-md-7 col-lg-5">
                              <!-- Logo -->
                              <div class="img-fluid" style="color: #3F5D87;">
                              </div>
                            </div>
                          </div> <!-- / .row -->
                          <!-- Text -->
                          <p class="mb-5 mb-md-7 text-muted">
                            “I've never thought wall themes as versatiles and flexibles as those that AGP proposed. It's my go to for recommandinging his highest qualities in almost any project.”
                          </p>
                          <!-- Footer -->
                          <footer class="blockquote-footer">
                            <span class="h6 text-uppercase">Eddy B.</span>
                          </footer>
                        </blockquote>
                      </div>
                    </div>
                    <div class="w-100">
                      <!-- Body -->
                      <div class="card-body">
                        <blockquote class="blockquote text-center mb-0">
                          <!-- Brand -->
                          <div class="row justify-content-center mb-5 mb-md-7">
                            <div class="col-6 col-sm-4 col-md-7 col-lg-5">
                              <!-- Logo -->
                              <div class="img-fluid" style="color: #3F5D87;">
                              </div>
                            </div>
                          </div> <!-- / .row -->
                          <!-- Text -->
                          <p class="mb-5 mb-md-7 text-muted">
                            “I've never thought wall themes as versatiles and flexibles as those that AGP proposed. It's my go to for recommandinging his highest qualities in almost any project.”
                          </p>
                          <!-- Footer -->
                          <footer class="blockquote-footer">
                            <span class="h6 text-uppercase">Eddy B.</span>
                          </footer>
                        </blockquote>
                      </div>
                    </div>
                    <div class="w-100">
                      <!-- Body -->
                      <div class="card-body">
                        <blockquote class="blockquote text-center mb-0">
                          <!-- Brand -->
                          <div class="row justify-content-center mb-5 mb-md-7">
                            <div class="col-6 col-sm-4 col-md-7 col-lg-5">
                              <!-- Logo -->
                              <div class="img-fluid" style="color: #3F5D87;">
                              </div>
                            </div>
                          </div> <!-- / .row -->
                          <!-- Text -->
                          <p class="mb-5 mb-md-7 text-muted">
                            “I've never thought wall themes as versatiles and flexibles as those that AGP proposed. It's my go to for recommandinging his highest qualities in almost any project.”
                          </p>
                          <!-- Footer -->
                          <footer class="blockquote-footer">
                            <span class="h6 text-uppercase">Eddy B.</span>
                          </footer>
                        </blockquote>
                      </div>
                    </div>
                    <div class="w-100">
                      <!-- Body -->
                      <div class="card-body">
                        <blockquote class="blockquote text-center mb-0">
                          <!-- Brand -->
                          <div class="row justify-content-center mb-5 mb-md-7">
                            <div class="col-6 col-sm-4 col-md-7 col-lg-5">
                              <!-- Logo -->
                              <div class="img-fluid" style="color: #3F5D87;">
                              </div>
                            </div>
                          </div> <!-- / .row -->
                          <!-- Text -->
                          <p class="mb-5 mb-md-7 text-muted">
                            “I've never thought wall themes as versatiles and flexibles as those that AGP proposed. It's my go to for recommandinging his highest qualities in almost any project.”
                          </p>
                          <!-- Footer -->
                          <footer class="blockquote-footer">
                            <span class="h6 text-uppercase">Eddy B.</span>
                          </footer>
                        </blockquote>
                      </div>
                    </div>
                    <div class="w-100">
                      <!-- Body -->
                      <div class="card-body">
                        <blockquote class="blockquote text-center mb-0">
                          <!-- Brand -->
                          <div class="row justify-content-center mb-5 mb-md-7">
                            <div class="col-6 col-sm-4 col-md-7 col-lg-5">
                              <!-- Logo -->
                              <div class="img-fluid" style="color: #3F5D87;">
                              </div>
                            </div>
                          </div> <!-- / .row -->
                          <!-- Text -->
                          <p class="mb-5 mb-md-7 text-muted">
                            “I've never thought wall themes as versatiles and flexibles as those that AGP proposed. It's my go to for recommandinging his highest qualities in almost any project.”
                          </p>
                          <!-- Footer -->
                          <footer class="blockquote-footer">
                            <span class="h6 text-uppercase">Eddy B.</span>
                          </footer>
                        </blockquote>
                      </div>
                    </div>
                    <div class="w-100">
                      <!-- Body -->
                      <div class="card-body">
                        <blockquote class="blockquote text-center mb-0">
                          <!-- Brand -->
                          <div class="row justify-content-center mb-5 mb-md-7">
                            <div class="col-6 col-sm-4 col-md-7 col-lg-5">
                              <!-- Logo -->
                              <div class="img-fluid" style="color: #3F5D87;">
                              </div>
                            </div>
                          </div> <!-- / .row -->
                          <!-- Text -->
                          <p class="mb-5 mb-md-7 text-muted">
                            “I've never thought wall themes as versatiles and flexibles as those that AGP proposed. It's my go to for recommandinging his highest qualities in almost any project.”
                          </p>
                          <!-- Footer -->
                          <footer class="blockquote-footer">
                            <span class="h6 text-uppercase">Eddy B.</span>
                          </footer>
                        </blockquote>
                      </div>
                    </div>
                  </div>

                </div>
              </div> <!-- / .row -->
            </div>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
{% endblock %}