
	<div class="row justify-content-center">
		<div id="carouselExampleCaptions" class="carousel slide" style="background-color:#656f82", data-bs-ride="carousel" data-bs-interval="4000">
			<div class="carousel-inner justify-content-between">

						<div class="carousel-item drk active">
								<img src="/img2/AdobeStock_144007478_parquet_escabaud.jpg" class=" d-block w-100" alt=" parquet" style="opacity:0.5">
								<div class="carousel-caption d-none d-md-block">
										<h1 class="display-2 text-white">
											Besoin de <br>rafraîchir vos murs?
										</h1>
											<!-- Text -->
										<p class="lead text-white">
											Nous sommes toujours là pour vous garantir la meilleure qualité de peinture au meilleur prix.
										</p>
											<!-- Button -->
										<a href="{{ path('portfolio') }}" class="btn btn-warning lift">
											Découvrir mon portfolio <i class="fe fe-arrow-right ms-3"></i>
										</a>
								</div>
						</div>

						<div class="carousel-item drk">
								<img src="/img2/AdobeStock_174984648_pinceaux_escabaud.jpg" class=" d-block w-100" alt=" pinceaux" style="opacity:0.5">
								<div class="carousel-caption d-none d-md-block">
										<h1 class="display-2 text-white">
											Besoin de <br>rafraîchir vos murs?
										</h1>
											<!-- Text -->
										<p class="lead mb-6 text-white">
											Nous sommes toujours là pour vous garantir la meilleure qualité de peinture au meilleur prix.
										</p>
											<!-- Button -->
										<a href="{{ path('portfolio') }}" class="btn btn-warning lift">
											Découvrir mon portfolio <i class="fe fe-arrow-right ms-3"></i>
										</a>
								</div>
						</div>

						<div class="carousel-item drk">
								<img src="/img2/AdobeStock_216970582_precouche.jpg"	class=" d-block w-100" alt=" precouche"style="opacity:0.5">
								<div class="carousel-caption d-none d-md-block">
										<h1 class="display-2 text-white">
											Besoin de <br>rafraîchir vos murs?
										</h1>
											<!-- Text -->
										<p class="lead text-white mb-6">
											Nous sommes toujours là pour vous garantir la meilleure qualité de peinture au meilleur prix.
										</p>
											<!-- Button -->
										<a href="{{ path('portfolio') }}" class="btn btn-warning lift">
											Découvrir mon portfolio <i class="fe fe-arrow-right ms-3"></i>
										</a>
								</div>
						</div>

						<div class="carousel-item drk">
								<img src="/img2/AdobeStock_245750838_blanc_sur_jaune.jpg" class="d-block w-100" alt=" blanc-sur-jaune" style="opacity:0.5">
								<div class="carousel-caption d-none d-md-block">
										<h1 class="display-2 text-white">
											Besoin de <br>rafraîchir vos murs?
										</h1>
											<!-- Text -->
										<p class="lead text-white mb-6">
											Nous sommes toujours là pour vous garantir la meilleure qualité de peinture au meilleur prix.
										</p>
											<!-- Button -->
										<a href="{{ path('portfolio') }}" class="btn btn-warning lift">
											Découvrir mon portfolio <i class="fe fe-arrow-right ms-3"></i>
										</a>
								</div>
						</div>

						<div class="carousel-item drk">
								<img src="/img2/AdobeStock_338193799_blanc_sur_bleu.jpg" class="d-block w-100" alt=" blanc-sur-bleu" style="opacity:0.5">
								<div class="carousel-caption d-none d-md-block">
										<h1 class="display-2 text-white">
											Besoin de <br>rafraîchir vos murs?
										</h1>
											<!-- Text -->
										<p class="lead text-white mb-6">
											Nous sommes toujours là pour vous garantir la meilleure qualité de peinture au meilleur prix.
										</p>
											<!-- Button -->
										<a href="{{ path('portfolio') }}" class="btn btn-warning lift">
											Découvrir mon portfolio <i class="fe fe-arrow-right ms-3"></i>
										</a>
								</div>
						</div>

						<div class="carousel-item drk">
								<img src="/img2/AdobeStock_343336820_linteau_porte.jpg" class="d-block w-100" alt=" linteau" style="opacity:0.5">
								<div class="carousel-caption d-none d-md-block">
										<h1 class="display-2 text-white">
											Besoin de <br>rafraîchir vos murs?
										</h1>
											<!-- Text -->
										<p class="lead text-white mb-6">
											Nous sommes toujours là pour vous garantir la meilleure qualité de peinture au meilleur prix.
										</p>
											<!-- Button -->
										<a href="{{ path('portfolio') }}" class="btn btn-warning lift">
											Découvrir mon portfolio <i class="fe fe-arrow-right ms-3"></i>
										</a>
								</div>
						</div>

						<div class="carousel-item drk">
								<img src="/img2/AdobeStock_344054160_escabaud.jpg" class="d-block w-100" alt="escabaud" style="opacity:0.5">
								<div class="carousel-caption d-none d-md-block">
										<h1 class="display-2 text-white">
											Besoin de <br>rafraîchir vos murs?
										</h1>
											<!-- Text -->
										<p class="lead text-white mb-6">
											Nous sommes toujours là pour vous garantir la meilleure qualité de peinture au meilleur prix.
										</p>
											<!-- Button -->
										<a href="{{ path('portfolio') }}" class="btn btn-warning lift">
											Découvrir mon portfolio <i class="fe fe-arrow-right ms-3"></i>
										</a>
								</div>
						</div>
					</div>

					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
		</div>
	</div>

