{% extends 'base.html.twig' %}

{% block title %}ACCUEIL REALISATIONS{% endblock %}

{% block body %}
    <h1>Realisation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Portfolio</th>
                <th>Slug</th>
                <th>Créee le</th>
                <th>Modifiée le</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for realisation in realisations %}
            <tr>
                <td>{{ realisation.id }}</td>
                <td>{{ realisation.nom }}</td>
                <td>{{ realisation.description }}</td>
                <td>{{ realisation.portfolio ? 'Yes' : 'No' }}</td>
                <td>{{ realisation.slug }}</td>
                <td>{{ realisation.createdAt ? realisation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ realisation.updatedAt ? realisation.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ realisation.thumbnail }}</td>
                <td>{{ realisation.imageFile }}</td>
                <td>
                    <a href="{{ path('app_realisation_show', {'id': realisation.id}) }}">Voir</a>
                    <a href="{{ path('app_realisation_edit', {'id': realisation.id}) }}">Modifier</a>
                    <a href="{{ path('app_realisation_delete', {'id': realisation.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_realisation_new') }}">Créer une nouvelle réalisation</a>
{% endblock %}
