{% extends 'base.html.twig' %}

{% block title %}REALISATION{% endblock %}

{% block body %}
    <h1>Realisation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ realisation.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ realisation.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ realisation.description }}</td>
            </tr>
            <tr>
                <th>Portfolio</th>
                <td>{{ realisation.portfolio ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ realisation.slug }}</td>
            </tr>
            <tr>
                <th>Créée le</th>
                <td>{{ realisation.createdAt ? realisation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modifiée le</th>
                <td>{{ realisation.updatedAt ? realisation.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Thumbnail</th>
                <td>{{ realisation.thumbnail }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ realisation.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_realisation_index') }}">Retour à la liste</a>

    <a href="{{ path('app_realisation_edit', {'id': realisation.id}) }}">Modifier</a>

    {{ include('realisation/_delete_form.html.twig') }}
{% endblock %}
